
	#control_contextmenu {
		border:2px solid #666;
		background-color:#eee;
		min-width:150px;
	}
 
	#control_contextmenu ul {
		list-style:none;
		padding:0;
		margin:0;
		cursor:pointer;
	}
 
	#control_contextmenu ul li {
		text-align:left;
		padding:3px 10px 3px 5px;
		margin:0;
		cursor:pointer;
		font-family:"Lucida Grande",Verdana;
		text-decoration:none;
		color:#333;
		font-size:12px;
		font-weight:bold;
		border-top:1px solid #fff;
		border-left:1px solid #fff;
		border-bottom:1px solid #999;
		border-right:1px solid #999;
	}
 
	#control_contextmenu ul li.selected,
	#control_contextmenu ul li:hover {
		color:#fff;
		background-color:#3875d7;
		cursor:pointer;
	}
 
	#control_contextmenu ul li.selected:hover {
		color:#333;
		background-color:#eee;
		cursor:pointer;
	}
	
	#control_contextmenu ul li.disabled,
	#control_contextmenu ul li:hover.disabled {
		background-color: #eee;
		color:#999;
		cursor:pointer;
	}
 
		
		#text_console {
			width:100%;
			height:75px;
		}
		
		#sample_menus p {
			margin-bottom:3px;
			margin-top:3px;
			font-weight:bold;
		}
		
		#sample_menus img {
			border:1px solid #ccc;
			padding:3px;
		}